<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
    <link rel="stylesheet" href="../assets/master.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
    <body>
      <header>
          <div class="top_content">
               <!-- 导航搜索下拉 -->
              <div class="top_logo left">
                  <a href="index.html" title="美食世界"></a>
              </div>
              <nav class="nav_content">
                  <a title="首页" href="#" target="_blank">首页</a>
                  <a title="甄选" href="#" target="_blank">甄选</a>
                  <a title="菜谱" href="#" target="_blank">菜谱</a>
                  <a title="食材" href="#" target="_blank">食材</a>
                  <a title="健康" href="#" target="_blank">健康</a>
                  <a title="专题" href="#" target="_blank">专题</a>
                  <a title="社区" href="#" target="_blank">社区</a>
                  <a title="话题" href="#" target="_blank">话题</a>
              </nav>
              <div class="top_sign">
                  <a title="注册" href="#" target="_blank">注册</a>
                  <a title="登陆" href="#" target="_blank">登陆</a>
              </div>
              <div class="top_search right">
                  <!-- bootstrap 内容 -->
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button">搜索</button>
                        </span>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="Carouselfigure">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                  </ol>
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="../assets/img/carouse1.jpg" alt="carouse1">
                    </div>
                    <div class="item">
                        <img src="../assets/img/carouse2.jpg" alt="carouse2">
                    </div>
                    <div class="item">
                        <img src="../assets/img/carouse3.jpg" alt="carouse3">
                    </div>
                    <div class="item">
                        <img src="../assets/img/carouse4.jpg" alt="carouse4">
                    </div>
                    <div class="item">
                        <img src="../assets/img/carouse5.jpg" alt="carouse5">
                    </div>
                  </div>
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                  </a>
              </div>
          </div>
          <div class="menucontent">
              <ul>
                  <li class="l1">
                      <a class="la" href="#" target="_blank">
                          <i></i>菜谱大全<b></b>
                      </a>
                      <ul class="rightlist">
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                      </ul>
                  </li>
                  <li class="l2">
                      <a class="la" href="#" target="_blank">
                          <i></i>食材大全<b></b>
                      </a>
                      <ul class="rightlist">
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                      </ul>
                  </li>
                  <li class="l3">
                      <a class="la" href="#" target="_blank">
                          <i></i>品质珍选<b></b>
                      </a>
                      <ul class="rightlist">
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                      </ul>
                  </li>
                  <li class="l4">
                      <a class="la" href="#" target="_blank">
                          <i></i>专题专区<b></b>
                      </a>
                      <ul class="rightlist">
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                      </ul>
                  </li>
                  <li class="l5">
                      <a class="la" href="#" target="_blank">
                          <i></i>一起红<b></b>
                      </a>
                      <ul class="rightlist">
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                          <li><a href="#" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </header>
      <div class="main">
          <div class="main-slide" data-imgs=7 data-active=0 >
              <div class="ma-slide-content">
                  <li class="ma-slide-list ma-active" id="ma-slide-0" >
                      <h3>
                          <a target="_blank" href="#">五分钟的营养早餐
                          </a>
                      </h3>
                      <p>
                          <span>馋嘴狼的菜单</span>
                          <br>
                          美好的一天从一份快手的营养早餐开始，亲爱的你要记得吃早餐哦～
                      </p>
                  </li>
                  <li class="ma-slide-list ma-active" id="ma-slide-1" >
                      <h3>
                          <a target="_blank" href="#">最爱的鸡胗鸭脖美味
                          </a>
                      </h3>
                      <p>
                          <span>先锋号姐的菜单</span>
                          <br>
                          追剧的时候如果能有一份麻辣鸭脖相伴，那简直不能太棒了！原来大神们都是这样做的！
                      </p>
                  </li>
                  <li class="ma-slide-list ma-active" id="ma-slide-2" >
                      <h3>
                          <a target="_blank" href="#">素食家常菜
                          </a>
                      </h3>
                      <p>
                          <span>阿弥陀佛的菜单</span>
                          <br>
                          美滋滋的素食家常菜，晚上吃多了也不怕发胖，没有肉也能做出超美味的家常菜！
                      </p>
                  </li>
                  <li class="ma-slide-list" id="ma-slide-3" >
                      <h3>
                          <a target="_blank" href="#">爱吃不要胖！
                          </a>
                      </h3>
                      <p>
                          <span>miffyna的菜单</span>
                          <br>
                          作为一名吃货，总是难以抵挡这些美食的诱惑，但是只希望爱吃的我不要再胖了
                      </p>
                  </li>
                  <li class="ma-slide-list" id="ma-slide-4" >
                      <h3>
                          <a target="_blank" href="#">美味虾爱不完
                          </a>
                      </h3>
                      <p>
                          <span>花开成海的菜单</span>
                          <br>
                          夏天最适合吃海鲜了，精选各种美味虾的菜谱集合，喜欢吃虾的抱紧我！
                      </p>
                  </li>
                  <li class="ma-slide-list" id="ma-slide-5" >
                      <h3>
                          <a target="_blank" href="#">西瓜的正确打开方式
                          </a>
                      </h3>
                      <p>
                          <span>起名好麻烦啊的菜单</span>
                          <br>
                          夏天到了，西瓜成为了最解渴的水果。那你是切成块吃？用勺子挖着吃？
                      </p>
                  </li>
                  <li class="ma-slide-list" id="ma-slide-6" >
                      <h3>
                          <a target="_blank" href="#">街头小吃搬回家
                          </a>
                      </h3>
                      <p>
                          <span>小美的菜单</span>
                          <br>
                          街头小吃棒棒哒～吃货的世界就是极易满足，不为吃饱，知识单纯的解馋～
                      </p>
                  </li>
              </div>
              <div class="ma-arraw">
                  <div class="ma-arraw-left">
                      <span ></span>
                  </div>
                  <div class="ma-arraw-right">
                      <span ></span>
                  </div>
              </div>
          </div>
          <div class="main2">
              <div class="main2-content main2-left">
                  <p class="pmargin">早餐</p>
                  <hr>
                  <img src="../assets/img/main2-1.jpg" alt="">
                  <ul class="main2-content-list">
                      <li><a href="#">早餐烹饪好时光。</a></li>
                      <li><a href="#">懒人营养早餐做法大全，不超过十分钟。</a></li>
                      <li><a href="#">千万不能吃的5种早餐，远离危害。</a></li>
                      <li><a href="#">宝宝早餐粥的做法大全。</a></li>
                      <li><a href="#">早餐做什么简单又好吃。</a></li>
                      <li><a href="#">早餐的营养搭配，让你知道怎么吃。</a></li>
                  </ul>
              </div>
              <div class="main2-content main2-center">
                  <p class="pmargin">减肥</p>
                  <hr>
                  <img src="../assets/img/main2-2.jpg" alt="">
                  <ul class="main2-content-list">
                      <li><a href="#">减肥人士专用套餐。</a></li>
                      <li><a href="#">如何饮食瘦身最明显，不是一般的好用。</a></li>
                      <li><a href="#">健康饮食减肥一日三餐。</a></li>
                      <li><a href="#">运动后的禁忌，请记住。</a></li>
                      <li><a href="#">如何通过饮食调节轻松减肥？</a></li>
                      <li><a href="#">饮食减肥 3周竟然145瘦到107。</a></li>
                  </ul>
              </div>
              <div class="main2-content main2-right">
                  <p class="pmargin">父亲节</p>
                  <hr>
                  <img src="../assets/img/main2-3.jpg" alt="">
                  <ul class="main2-content-list">
                      <li><a href="#">你注意过你老爸的饮食吗？</a></li>
                      <li><a href="#">父母一定需要的健康食品。</a></li>
                      <li><a href="#">划重点！食物降血脂这些更有效。</a></li>
                      <li><a href="#">管住他的“酒”。</a></li>
                      <li><a href="#">让父母爱上一种更健康的生活方式。</a></li>
                  </ul>
              </div>
          </div>
          <div class="main3">
              <div class="main3-cook">
                  <p>美食的做法</p>
                  <img src="../assets/img/mian3-cook.jpg" alt="cook">
                  <h4>玉米配绿豆，非常有利于补脑和养身，加上肉，下饭。</h4>
                  <div class="main3-cook-author">
                      <img src="../assets/img/cook-author.jpg" alt="cook-author">
                      <p>我只是尝尝</p>
                  </div>
              </div>
              <div class="main3-picture">
                  <div class="main3-picture-column main3-1">
                      <ul>
                          <li><img src="../assets/img/main3-picture1.jpg" alt="picture1"></li>
                          <li><img src="../assets/img/main3-picture2.jpg" alt="picture2"></li>
                          <li><img src="../assets/img/main3-picture3.jpg" alt="picture3"></li>
                      </ul>
                  </div>
                  <div class="main3-picture-column main3-2">
                      <ul>
                          <li><img src="../assets/img/main3-picture4.jpg" alt="picture4"></li>
                          <li><img src="../assets/img/main3-picture5.jpg" alt="picture5"></li>
                          <li><img src="../assets/img/main3-picture6.jpg" alt="picture6"></li>
                      </ul>
                  </div>
              </div>
              <div class="main3-fb">
                  <div class="main3-title">
                      <p>最新动态</p>
                  </div>
                  <div class="main3-fb-line">
                      <div class="fb-line1-title">
                          <img src="../assets/img/cook-author.jpg" alt="cook-author">
                          <a href="#">米栗儿</a>
                          <span>做了一道</span>
                          <a href="#">“营养木耳五花肉焖豆腐”</a>
                      </div>
                      <div class="fb-line1-content">
                          <a href="#">木耳五花肉焖豆腐制作简单方便，同时它的肉肉加有淀粉腌制过非常的嫩滑可口新鲜美味，小朋友也是..</a>
                      </div>
                      <div class="fb-line1-pic">
                          <img src="../assets/img/line1-pic1.jpg" alt="line1-pic1">
                          <img src="../assets/img/line1-pic2.jpg" alt="line1-pic2">
                          <img src="../assets/img/line1-pic3.jpg" alt="line1-pic3">
                      </div>
                      <p></p>
                  </div>
                  <div class="main3-fb-line">
                      <div class="fb-line1-title">
                          <img src="../assets/img/cook-author.jpg" alt="cook-author">
                          <a href="#">柔曼美味屋</a>
                          <span>做了一道</span>
                          <a href="#">“秘制鸡肉咸菜粥”</a>
                      </div>
                      <div class="fb-line1-content">
                          <a href="#">人们生活水平的提高，衣食住行也随着发生很大改变，就从饮食方面来说，更加偏向于大鱼大肉的趋向..</a>
                      </div>
                      <div class="fb-line1-pic">
                          <img src="../assets/img/line2-pic1.jpg" alt="line1-pic1">
                      </div>
                      <p></p>
                  </div>
              </div>
          </div>
      </div>
      <footer>
          <div class="footer-list">
              <ul>
                  <li>中华美食</li>
                  <li>关于我们</li>
                  <li>联系我们</li>
                  <li>使用帮助</li>
                  <li>食材大全</li>
                  <li>美食菜谱</li>
                  <li>网站首页</li>
              </ul>
          </div>
          <div class="footer-state">
              本站信息由网络收集及网友提供，中华美食网不负责信息内容的准确性和完整性，对此亦不承担任何保证责任。
          </div>
          <div class="footer-warn">
              蜀ICP备10008552号 Copyright(©) 2005 - 2016 www.zhms.cn All rights reserved.
          </div>
      </footer>
      <script type="text/javascript" src="../js/main.js"></script>
  </body>
</html>
